.cart {
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: #FAF9F9;
}

.closeImg {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

.closeImg:hover {
    opacity: 0.8;
}

.header {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #282828;
    margin-left: 40px;
    margin-top: 40px;
}

.header .cost {
    color: #FA3D3D;
}