.item {
    display: flex;
    margin-bottom: 10px;
    padding: 20px 40px;
    background: #FFFFFF;
    box-shadow: 0px -6px 10px rgba(184, 184, 184, 0.1);
    border-radius: 5px;
}

.image {
    width: 160px;
    height: 120px;
    border-radius: 5px;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: -2px;
}

.titleRow {

}

.title {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #282828;
}

.portion {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    color: #929292;
    margin-left: 10px;
}

.composition {
    margin-top: 10px;
}

.compositionHeader {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.compositionText {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.orderRow {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.cost {
    font-family: 'Ubuntu', "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    letter-spacing: 0.04em;

    /* Чёрный */

    color: #282828;

    width: 135px;
}

.cartCount {
    width: 86px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #282828;

    column-gap: 17px;
    user-select: none;

    margin-left: 10px;
    background: #FAF9F9;
    border-radius: 5px;
}

.cartCountButton {
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cartCountButton:hover {
    opacity: 0.7;
}