.wrapper {
    height: 745px;
}

.cart {
    width: 1030px;
    background: #FAF9F9;
    position: relative;
    display: flex;
    flex-direction: column;
}

.closeImg {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

.closeImg:hover {
    opacity: 0.8;
}

.header {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #282828;
    padding: 40px;
    background: #FAF9F9;
}
