.container {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    justify-content: space-between;
    background: white;
    max-width: 1280px;
    margin: 20px auto 0 auto;
}

.container-3 {
    composes: container;
    grid-template-columns: repeat(3, 290px);
    padding: 40px 40px 0 40px;
    margin: 0;
}