.headerWrapper {
    background: #FAF9F9;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.header {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    justify-content: start;
    align-items: center;
    height: 86px;
    position: relative;
}

.brand {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #FA3D3D;

    margin-right: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info {
    display: flex;
    align-items: center;
    column-gap: 14px;
    margin-right: 40px;
    margin-top: 21px;
    margin-bottom: 21px;
}

.info img:hover {
    opacity: 0.85;
    cursor: pointer;
}

.infoTextTop {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #282828;
}

.infoTextBottom {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    color: #282828;
    margin-top: 3px;
}

.infoPayment {
    composes: info;
    margin-left: 80px;
}

.infoPaymentPopup {
    width: 446px;
    height: 140px;
    background-image: url("../../images/infoPaymentPopup.svg");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 26px;
    box-sizing: border-box;
    color: white;
    text-align: center;
}