.cart {
    width: 276px;
    height: 126px;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    right: 0;

    background: #FA3D3D;

    display: flex;
    justify-content: center;

    cursor: pointer;
    user-select: none;
}

.cart.empty {
    background: #282828;
}

.text {
    position: absolute;
    left: 27.22%;
    right: 10%;
    top: 42.86%;
    bottom: 34.29%;

    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.image {
    position: absolute;
    left: 10%;
    right: 78.33%;
    top: 35.71%;
    bottom: 28.57%;
}

.positions {
    position: absolute;
    left: 15.56%;
    right: 75%;
    top: 52.86%;
    bottom: 22.86%;

    width: 17px;
    height: 17px;

    background: url("../../images/ellips.svg");
}

.positionsText {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FA3D3D;
    transform: rotate(0.24deg);

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}