.cart {
    width: 276px;
    height: 126px;
    box-sizing: border-box;

    position: absolute;
    top: 0;
    right: 0;

    background: #FA3D3D;

    cursor: pointer;
    user-select: none;
}

.cart.empty {
    background: #282828;
}

.text {
    position: absolute;
    left: 28.62%;
    top: 40.87%;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.image {
    position: absolute;
    left: 13.77%;
    top: 38.1%;
}

.positions {
    position: absolute;
    left: 18.84%;
    top: 50%;

    width: 18px;
    height: 18px;

    background: url("../../images/ellips.svg");
}

.positionsText {
    font-family: 'Ubuntu', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FA3D3D;
    transform: rotate(0.24deg);

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

